@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@500&family=Tenor+Sans&display=swap');


*{

	margin: 0;
	padding: 0;
}

#navbar-brand{
	color: yellow;
}

.logo{
	background-image: url(buscarimagen);
}

#banner{
	background-image: url(assets/2.jpg);
	background-position: center;
	min-height: 300px;
	height: 50vh;
}


#formulario{
	display: grid;
	grid-row: 50vh;
	grid-row-gap: 2rem;
	padding-top: 20px;
	justify-items: start;
	width: 100%;
	justify-content: left;
}

/*SECCIÓN SERVICIOS*/

#contenedor{
	display: grid;
	grid-template-areas:
	"dec foto foto"
	"liq emp ase";
	height: 80vh;
	width: 90%;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	justify-items: stretch;
}

.textbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 100%;
	font-family: Montserrat;
	font-size: 16px;
	color: #black;
}

.textbox:hover{
	transform: scale(1.1);
	transition:200ms;
}

.declaracion{
	grid-area: dec;
	background-color: #DCAC01;
	justify-items: stretch;
}

.liquidacion{
	grid-area: liq;
	background-color: #DCAC01;
}

.empresa{
	grid-area: emp;
	background-color: #DCAC01;
	justify-items: stretch;
}

.asesoramiento{
	grid-area: ase;
	background-color: #DCAC01;
	justify-items: stretch;
}

.imagen{
	grid-area: foto;
	background-image: url(../assets/2.jpg);
	background-size: cover;
	background-position: center;
}

/*MEDIA QUERIES PARA SECCIÓN SERVICIOS*/

/*SECCIÓN SERVICIOS*/

#contenedor{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	align-items: center;
	height: 80%;
	grid-row-gap: 30 px;
}

.textbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 3rem;
	font-family: Montserrat;
	font-size: 16px;
	color: #black;
}

.textbox:hover{
	transform: scale(1.1);
	transition:200ms;
}

.declaracion, .asesoramiento, .empresa, .liquidacion{
	background-color: #DCAC01;
	height: 3rem;
	width: 60%;
}

.imagen{
	display: none;
}
